<div class="body">
    <div class="container">
        <form action="connect.php" method="post">
            <h1>Signup Form</h1><br>
            <div>
                <label>First name : </label>
                <input type="text" name="fname" placeholder="Enter your first name.">
            </div><br>
            <div>
                <label>Last name : </label>
                <input type="text" name="lname" placeholder="Enter your last name.">
            </div><br>
            <div>
                <label>Mobile Number : </label>
                <input type="number" name="mobile" placeholder="Enter your mobile number.">
            </div><br>
            <div class="gender">
                <label>Gender : </label>
                <input type="radio" class="gender1" name="gender" value="m">Male
                <input type="radio" class="gender1" name="gender" value="f">Female
                <input type="radio" class="gender1" name="gender" value="o">Other
            </div><br>
            <div>
                <label>Password : </label>
                <input type="password" name="pass" placeholder="Enter your password.">
            </div><br>
            <div class="buttons">
                <button (click)="register()">Register</button>
            </div>
        </form>
    </div>
</div>